.fabourite-menu{
    background: url('../assets/images/fabouriteBackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.menu-icon{
    width: 100px;
    margin: 0 auto;
    position: relative;
}
.menu-icon::before{
    content: "";
    height: 60px;
    width:60px;
    top:15px;
    left: 5px;
    position:absolute;
    border-radius: 50%;
    background: rgb(244, 172, 16);
    opacity: 0.3;
    z-index: -1;
    transition: ease-in 0.3s;
}
.menu-icon:hover::before{
    opacity:1;
}
